*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
html{
    width: 100vw;
    height:100vh;
    margin: 0;
    padding: 0;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #272727;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(autofill, minmax(90px, 1fr));
    grid-template-columns: repeat(autofit, minmax(90px, 1fr));
    grid-template-rows: repeat( 4, 1fr);
    grid-template-rows: repeat(autofill, minmax(100px, 1fr));
    grid-template-rows: repeat(autofit, minmax(100px, 1fr));
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    min-height: 100vh;
}
header{
    grid-area: 1 / 1 / 2 / 5;
    background: #ddd333;
    font-size:  0.7rem;
    text-align: center;
    
}
#canvas{
    grid-area: 2 / 1 / -1 / 4;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-columns: repeat(autofill, minmax(20px, 1fr));
    grid-template-columns: repeat(autofit, minmax(20px, 1fr));
    grid-template-rows: repeat(25, 1fr);
    grid-template-rows: repeat(autofill, minmax(40px, 1fr));
    grid-template-rows: repeat(autofit, minmax(40px, 1fr));
    width: 100%;
    height: 70vh;
    background: black;
    
}
.pto{
    grid-area: 2 / 4 / -1 / 5;
    width: 100%;
    height: 70vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.imagen{
    width: 8rem;
}
@media only screen and (max-width: 1024px) {
    html{
        margin:0;
        padding: 0;
    }
    body {
        margin: 0px;
        padding: 0px;
        background-color: #272727;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-columns: repeat(autofill, minmax(90px, 1fr));
        grid-template-columns: repeat(autofit, minmax(90px, 1fr));
        grid-template-rows: repeat( 6, 1fr);
        grid-template-rows: repeat(autofill, minmax(100px, 1fr));
        grid-template-rows: repeat(autofit, minmax(100px, 1fr));
        column-gap: 1 rem;
        row-gap: 1 rem;
        min-height: 100%;
    }
    header{
        grid-area: 1 / 1 / 2 / 5;
        background-color: blueviolet;
        font-size:  0.7rem;
        text-align: center;
    }
    #canvas{
        grid-area: 2 / 1 / 6 / 5;
        display: grid;
        grid-template-columns: repeat(25, 1fr);
        grid-template-columns: repeat(autofill, minmax(20px, 1fr));
        grid-template-columns: repeat(autofit, minmax(20px, 1fr));
        grid-template-rows: repeat(25, 1fr);
        grid-template-rows: repeat(autofill, minmax(20px, 1fr));
        grid-template-rows: repeat(autofit, minmax(20px, 1fr));
        width: 100%;
        height: 70%;
        margin-bottom: -100px;
    }
    .pto{
        grid-area: 6 / 1 / 7 / 5;
        width: 100%;
        height: 100%;
        background-color: aquamarine;
        margin-top: -0px;
        font-size: 7px;
        flex-direction: row;
    }
    .imagen{
        width: 4rem;
    }
}

@media only screen and (max-width: 380px) {
    html{
        margin:0;
        padding: 0;
    }
    body {
        margin: 0px;
        padding: 0px;
        background-color: #272727;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-columns: repeat(autofill, minmax(90px, 1fr));
        grid-template-columns: repeat(autofit, minmax(90px, 1fr));
        grid-template-rows: repeat( 6, 1fr);
        grid-template-rows: repeat(autofill, minmax(100px, 1fr));
        grid-template-rows: repeat(autofit, minmax(100px, 1fr));
        column-gap: 1 rem;
        row-gap: 1 rem;
        min-height: 100%;
    }
    header{
        grid-area: 1 / 1 / 2 / 5;
        background-color: blueviolet;
        font-size:  0.7rem;
        text-align: center;
    }
    #canvas{
        grid-area: 2 / 1 / 6 / 5;
        display: grid;
        grid-template-columns: repeat(25, 1fr);
        grid-template-columns: repeat(autofill, minmax(20px, 1fr));
        grid-template-columns: repeat(autofit, minmax(20px, 1fr));
        grid-template-rows: repeat(25, 1fr);
        grid-template-rows: repeat(autofill, minmax(20px, 1fr));
        grid-template-rows: repeat(autofit, minmax(20px, 1fr));
        width: 100%;
        height: 70%;
        margin-bottom: -100px;
    }
    .pto{
        grid-area: 6 / 1 / 7 / 5;
        width: 100%;
        height: 100%;
        background-color: aquamarine;
        margin-top: -80px;
        text-align: center;
    }
}
